.about-body {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 50px 100px;
  gap: 38px;
  .collapses-container {
    display: flex;
    flex-direction: column;
    margin: 0px 108px 0px 108px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .about-body {
    margin: 19px;
    gap: 19px;
    .collapses-container {
      margin: 0px;
      gap: 20px;
    }
  }
}
