@import "variables";
@import "mixins";

.logement {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  .logement-upper {
    @include flex-space;
    flex-direction: row;
    width: 100%;
    .logement-left {
      display: flex;
      align-items: baseline;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      .logement-header-text {
        .logement-title {
          color: $primary-color;
          font-size: rem(36);
          margin: 0px;
          font-weight: 500;
          width: 100%;
        }
        .logement-location {
          margin: 0px;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .tags-container {
        @include flex-center;
        flex-direction: row;
        gap: 10px;
        .tag {
          width: 115px;
          height: 25px;
          border-radius: 10px;
          background-color: $primary-color;
          text-align: center;
          color: white;
          font-weight: 700;
          font-size: rem(14);
          line-height: 200%;
        }
      }
    }
    .logement-right {
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 21px;
      .owner {
        @include flex-center;
        flex-direction: row;
        gap: 10px;
        .owner-name {
          font-size: 1rem;
          color: $primary-color;
          font-weight: 500;
        }
        .owner-picture {
          width: 64px;
          height: 64px;
          border-radius: 50px;
        }
      }

      .rating {
        @include flex-center;
        flex-direction: row;
        width: 196px;
        height: 36px;
        gap: 4px;
        .rating-star {
          height: 36px;
          width: 36px;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .logement-collapses {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 76px;
    > * {
      flex: 1 1 calc((100% - 76px) / 2);
      max-width: calc((100% - 76px) / 2);
    }
    .collapse-content-text {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    li {
      list-style: none;
    }
  }
}

@media (max-width: 768px) {
  .logement {
    width: 100%;
    gap: 15px;
    .logement-upper {
      flex-direction: column;
      gap: 16px;
      .logement-left {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        .logement-header-text {
          .logement-title {
            font-size: 1rem;
          }
          .logement-location {
            font-size: rem(14);
          }
        }
        .tags-container {
          .tag {
            width: 84px;
            height: 18px;
            font-size: rem(10);
          }
        }
      }
      .logement-right {
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        .owner {
          .owner-name {
            font-size: rem(12);
          }
          .owner-picture {
            width: 32px;
            height: 32px;
          }
        }
        .rating {
          width: 98px;
          height: 18px;
          gap: 2px;
          .rating-star {
            height: 18px;
            width: 18px;
            img {
              width: 13px;
              height: 13px;
            }
          }
        }
      }
    }
    .logement-collapses {
      flex-direction: column;
      width: 100%;
      gap: 20px;
      > * {
        flex: none;
        max-width: 100%;
      }
    }
  }
}
