@import "mixins";

.accomodation-body {
  @include flex-center;
  flex-direction: column;
  margin: 50px 100px 50px 100px;
  gap: 25px;
}

@media (max-width: 768px) {
  .accomodation-body {
    margin: 27px 20px 27px 20px;
  }
}
