.banner {
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 223px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  .banner-text {
    font-weight: 700;
    font-size: 48px;
    color: white;
  }
}
