@import "variables";
@import "mixins";

.banner {
  @include flex-center;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 223px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  .banner-text {
    font-weight: 700;
    font-size: rem(48);
    color: white;
  }
}

@media (max-width: 767.98px) {
  .banner {
    height: 111px;
    .banner-text {
      font-size: rem(24);
      margin-left: 16px;
    }
  }
}
