@import "variables";

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  .card-title {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin: auto 20px 20px 20px;
  }
  .card-id {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .card-body {
    height: 255px;
  }
}
