@import "variables";
@import "mixins";

.collapse {
  display: flex;
  flex-direction: column;
  .collapse-preview {
    @include flex-space;
    flex-direction: row;
    height: 52px;
    background-color: $primary-color;
    padding: 0px 20px 0px 15px;
    border-radius: 5px;
    z-index: 1;
    .collapse-title {
      color: white;
      font-size: rem(24);
      font-weight: 700;
    }
    .collapse-button {
      @include flex-center;
      background: none;
      border: none;
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(-180deg);
      }
    }
  }
  .collapse-content {
    overflow: hidden;
    padding: 0px 15px 0px 15px;
    transition: height 0.3s ease;
    background-color: #f6f6f673;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &.open {
      margin-top: -8px;
      z-index: 0;
    }
    .collapse-content-text {
      margin-top: 16px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .collapse {
    .collapse-preview {
      height: 10px;
      padding: 10px;
      .collapse-title {
        font-size: rem(13);
      }
    }
    .collapse-content {
      .collapse-content-text {
        font-size: rem(12);
        margin-top: 13px;
      }
    }
  }
}
