@import "variables";
@import "mixins";

.footer {
  @include flex-center;
  background-color: black;
  flex-direction: column;
  width: 100%;
  height: 209px;
  gap: 29px;
  .footer-logo {
    width: 122px;
    height: 39px;
    margin-top: 55px;
  }
  .footer-text {
    color: white;
    font-weight: 500;
    font-size: rem(24);
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .footer {
    height: 209px;
    gap: 0px;
    .footer-text {
      max-width: 134px;
      font-size: rem(12);
    }
  }
}
