.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 45px 100px 50px 100px;
  .header-logo {
    width: 210px;
    height: 68px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    gap: 57px;
    .nav-link {
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: 24px;
    }
  }
}
