@import "variables";
@import "mixins";

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 45px 100px 50px 100px;
  .header-logo {
    width: 210px;
    height: 68px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    gap: 57px;
    .nav-link {
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: rem(24);
    }
    .active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    margin: 20px;
    .header-logo {
      width: 145px;
      height: 47px;
    }
    .nav {
      gap: 26px;
      .nav-link {
        font-size: rem(12);
      }
    }
  }
}
