@import "variables";
@import "mixins";

.home-body {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 50px 100px;
  gap: 43px;
  .cards-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    border-radius: 25px;
    background-color: #f6f6f6;
    gap: 60px;
    padding: 56px 50px 43px 50px;
    flex-wrap: wrap;
    > * {
      flex: 1 1 calc((100% - 120px) / 3);
      max-width: calc((100% - 120px) / 3);
      aspect-ratio: 1 / 1;
    }
  }
  .card-link {
    text-decoration: none;
  }
}

@media (max-width: 767.98px) {
  .home-body {
    margin: 7px 20px 27px 20px;
    gap: 22px;
    .cards-container {
      gap: 20px;
      padding: 0px;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: white;
      > * {
        flex: none;
        max-width: none;
        aspect-ratio: unset;
      }
    }
  }
}
