.slideshow {
  width: 100%;
  height: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .slideshow-image {
    flex-grow: 1;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  .slideshow-button {
    width: 96px;
    height: 120px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 47px;
      height: 79px;
    }
    &.left {
      position: absolute;
      left: 0;
      rotate: -90deg;
    }
    &.right {
      position: absolute;
      left: 90%;
      rotate: 90deg;
    }
  }
  .slideshow-counter {
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    .slideshow-button {
      width: 24px;
      height: 24px;
      img {
        width: 12px;
        height: 20px;
      }
      &.right {
        left: 100%;
      }
    }
    .slideshow-counter {
      display: none;
    }
  }
}
